{{!-- Navigation Bar --}}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">The Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><button type="button" class="btn btn-danger" id="scrapeButton">SCRAPE NEW ARTICLES!</button></li>
        </ul>
    </div>
</nav>

{{!-- Title --}}
<div class="jumbotron" id="title">
    <h1>Mongo Scraper</h1>
    <h2>Android News Edition</h2>
</div>

{{!-- Articles --}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#each articles}}
            <div class="panel panel-primary">
                <div class="panel-heading articleHeading">
                    <a href={{this.link}} class="articleLink">{{this.title}}</a>
                    <span><button type="button" class="btn btn-success pull-right saveArticleButton" value={{this.id}}>SAVE ARTICLE</button></span>
                </div>
                <div class="panel-body articleBody">{{this.body}}</div>
            </div>
            {{/each}}
            {{#unless articles}}
            <div class="panel panel-default">
                <div class="panel-heading" id="noArticlesPanel">
                    Uh Oh. Looks like we don't have any new articles.
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
</div>

{{!--Modals--}}
<div class="modal fade" id="scrapeModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close scrapeCloseButton" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="scrapeModalBody">
                <p id="numArticles"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary scrapeCloseButton" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

{{!-- Scripts --}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>